{% extends "_base.html" %}
{% load static%}

{% block content%}
    <section class="seCat">
        <div>
            <div class="entete">
                <img src="{% static 'image/ComputerSupport_black.png' %}" alt="">
                <h4>Accesoir informatique</h4>
            </div>
            <div class="item1">
                {% for produit in produits %}
                <div class="card" id="card">
                    <a href="{% url 'detail' produit.id%}">
                        <img src="{{produit.photo_produit.url}}" alt="">
                        <p class="textPrice">{{produit.nom_produit}}</p> 
                        <div class="star">
                            {{produit.tendance}}
                            <span class="material-icons red md-30">local_fire_department</span>
                        </div>
                    </a>
                    <div class="bas">
                        <p>{{produit.prix_produit}}  FCFA</p>
                    </div>
                </div>
                {% empty %}
                            <p class="nothing">Il y a aucun produit</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content%}