{% extends "_base.html" %}

{% block content%}
    <section class="secDetailPrincipal">
        <form method="post" class="secDetail">
            {% csrf_token %}
            <div class = "product-imgs">
                <div class = "img-display" id="zoom" onmousemove="zoom(event)" style="background: url({{image.photo_produit.url}});">
                  <div class = "img-showcase">
                    {% for image in  img_produit%}
                    <img src = "{{image.photo_produit.url}}" alt = "image-produit" >
                    {% endfor %}
                  </div>
                </div>
                <div class = "img-select">
                    {% for image in img_produit%}
                    <div class = "img-item">
                        <a href = "#" data-id = "{{image.id}}">
                        <img src = "{{image.photo_produit.url}}" alt = "image-produit">
                        </a>
                    </div>
                  {% endfor %}
                </div>
            </div>         

            {{form.non_field_errors}}
            <div class="prod_detail">
                <h2>{{produit.nom_produit}}</h2>
                <p class="quantite">Quantité</p>
                {{form.quantite.error}}
                <input type="number" name="quantite" placeholder="Preciser la quantite" value={{produit.quantite_produit}} value="{{produit.quantite_produit}}" min="0" max="{{produit.quantite_produit}}" class="classQuantite">
                {% if produit.quantite_produit <= 0%}
                    <p class="dispo">Indisponible</p>
                {% else %}
                    <p class="dispo">Disponible</p>
                {% endif %}
                <p class="price">Prix: {{produit.prix_produit}} FCFA</p>
                <button type="submit">Ajouter au panier</button>
                <p>{{message}}</p>
            </div>
        </form>

        <div class="descrip">
            <h4 class="title3">Détail du produit</h4>
            <p>{{produit.descrip_produit}}</p>
        </div>

        <div class="autres">
            <h4 class="title3">Autres produits</h4>
            <div class="item1">
                {% for produit in autre_produit %}
                <div class="card" id="card">
                    <a href="{% url 'detail' produit.id%}">
                        <img src="{{produit.photo_produit.url}}" alt="">
                        <p class="textPrice">{{produit.nom_produit}}</p> 
                        <div class="star">
                            {{produit.tendance}}
                            <span class="material-icons red md-30">local_fire_department</span>
                        </div>
                    </a>
                    <div class="bas">
                        <p>{{produit.prix_produit}}  FCFA</p>
                    </div>
                </div>
                {% empty %}
                <p>Aucun produit meme categorie</p>
                {% endfor %}
            </div>
        </div>
        <script>
            const imgs = document.querySelectorAll('.img-select a');
            const imgBtns = [...imgs];
            let imgId = 1 ;

            imgBtns.forEach((imgItem) => {
                imgItem.addEventListener('click', (event) => {
                    event.preventDefault();
                    imgId = imgItem.dataset.id;
                    slideImage();
                });
            });

            function slideImage(){
                const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

                document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
            }

            window.addEventListener('resize', slideImage);
        </script>
        <script>
            function zoom(e){
            var zoomer = e.currentTarget;
            e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
            e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
            x = offsetX/zoomer.offsetWidth*100
            y = offsetY/zoomer.offsetHeight*100
            zoomer.style.backgroundPosition = x + '% ' + y + '%';
            } 
        </script>
    </section>
{% endblock content%}

