{% extends "_base.html" %}
{% load static %}

{% block content%}
    <main>
        <section id="sec1">
            <nav>
                <h3>Toutes les categories</h3>
                <ul>
                    <a href="">
                        <li>
                            <img src="{% static 'image/Workstation.png'%}" alt="">
                            Informatique
                        </li>
                    </a>

                    <a href="">
                        <li>
                            <img src="{% static 'image/MultimediaPublishing.png'%}" alt="">
                            Multimedia
                        </li>
                    </a>

                    <a href="">
                        <li>
                            <img src="{% static 'image/Office.png'%}" alt="">
                            Bureautique
                        </li>
                    </a>

                    <a href="">
                        <li>
                            <img src="{% static 'image/Mobile.png'%}" alt="">
                            Telephone
                        </li>
                    </a>

                    <a href="">
                        <li>
                            <img src="{% static 'image/ComputerSupport.png'%}" alt="">
                            Accessoir
                        </li>
                    </a>

                    <a href="">
                        <li>
                            <img src="{% static 'image/GameController.png'%}" alt="">
                            Console et jeux video
                        </li>
                    </a>
                </ul>
            </nav>

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'image/Rectangle_carrousel.png'%}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>BIENVENU SUR GEEK TEC</h5>
                    <p>Profitez de nos produits à de très bon prix! </p>
                    </div>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section>
            <div>
                <div class="groupName">
                    <img src="{% static 'image/Workstation_black.png' %}" alt="">
                    Informatique
                </div>
                <div class="item">
                    {% for produit in produits %}
                        {% if produit.cat_produit == "Informatique" %}
                        <div class="card">
                            <a href="{% url 'detail' produit.id%}">
                                <img src="{{produit.photo_produit.url}}">
                                <p>{{produit.nom_produit}}</p> 
                            </a>
                            <div class="bas">
                                <p>{{produit.prix_produit}}</p>
                                <button>Ajouter</button>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div>
                <div class="groupName">
                    <img src="{% static 'image/MultimediaPublishing_black.png' %}" alt="">
                    Multimedia
                </div>
                {% for produit in produits %}
                    {% if produit.cat_produit == "Multimedia" %}
                    <a href="{% url 'detail' produit.id%}">
                        <div>
                            <p>{{produit.nom_produit}}</p> 
                        </div>
                    </a> 
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <div class="groupName">
                    <img src="{% static 'image/Office_black.png' %}" alt="">
                    Bureautique
                </div>
                {% for produit in produits %}
                    {% if produit.cat_produit == "Bureautique" %}
                       <a href="{% url 'detail' produit.id%}">
                        <div>
                            <p>{{produit.nom_produit}}</p> 
                        </div>
                    </a> 
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <div class="groupName">
                    <img src="{% static 'image/Mobile_black.png' %}" alt="">
                    Telephone
                </div>
                {% for produit in produits %}
                    {% if produit.cat_produit == "Telephone" %}
                       <a href="{% url 'detail' produit.id%}">
                        <div>
                            <p>{{produit.nom_produit}}</p> 
                        </div>
                    </a> 
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <div class="groupName">
                    <img src="{% static 'image/ComputerSupport_black.png' %}" alt="">
                    Accesoir informatique
                </div>
                {% for produit in produits %}
                    {% if produit.cat_produit == "Accesoir" %}
                       <a href="{% url 'detail' produit.id%}">
                        <div>
                            <p>{{produit.nom_produit}}</p> 
                        </div>
                    </a> 
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <div class="groupName">
                    <img src="{% static 'image/GameController_black.png' %}" alt="">
                    Console et jeux video
                </div>
                {% for produit in produits %}
                    {% if produit.cat_produit == "Console et jeux video" %}
                       <a href="{% url 'detail' produit.id%}">
                        <div>
                            <p>{{produit.nom_produit}}</p> 
                        </div>
                    </a> 
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock content%}