{% extends "_base.html" %}
{% load static %}

{% block content%}
    <main>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="{% static 'image/top.png'%}" alt=""></button>
        <section id="sec1">
            <nav>
                <h3>Toutes les categories</h3>
                <ul>
                    <a href="{% url 'informatique' %}">
                        <li>
                            <img src="{% static 'image/Workstation.png'%}" alt="">
                            Informatique
                        </li>
                    </a>

                    <a href="{% url 'multimedia' %}">
                        <li>
                            <img src="{% static 'image/MultimediaPublishing.png'%}" alt="">
                            Multimedia
                        </li>
                    </a>

                    <a href="{% url 'bureautique' %}">
                        <li>
                            <img src="{% static 'image/Office.png'%}" alt="">
                            Bureautique
                        </li>
                    </a>

                    <a href="{% url 'telephone' %}">
                        <li>
                            <img src="{% static 'image/Mobile.png'%}" alt="">
                            Telephone
                        </li>
                    </a>

                    <a href="{% url 'accessoir' %}">
                        <li>
                            <img src="{% static 'image/ComputerSupport.png'%}" alt="">
                            Accessoires
                        </li>
                    </a>

                    <a href="{% url 'jeux' %}">
                        <li>
                            <img src="{% static 'image/GameController.png'%}" alt="">
                            Console et jeux video
                        </li>
                    </a>
                </ul>
            </nav>

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'image/Rectangle_carrousel.png'%}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>BIENVENU SUR GEEK TEC</h5>
                    <p>Profitez de nos produits à de très bon prix! </p>
                    </div>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section class="it">
            <div class="entete">
                <img src="{% static 'image/computer.png'%}" alt="" >
                <h4>Informatique</h4>
            </div>  
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                    {% endfor %}
                  </div>                  

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>     
            </div>
            
        </section>
        <section class="multimedia">
            <div class="entete">
                <img src="{% static 'image/MultimediaPublishing_black.png'%}" alt="" >    
                <h4>Multimédia</h4>
            </div>  
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">{% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>     
            </div>
            
        </section>
        <section class="bureautique">
            <div class="entete">
                <img src="{% static 'image/Office_black.png'%}" alt="" >    
                <h4>Bureautique</h4>
            </div>  
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">{% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>     
            </div>
            
        </section>
        
        <section class="telephone">
            <div class="entete">
                <img src="{% static 'image/Mobile_black.png'%}" alt="" >    
                <h4>Téléphone</h4>
            </div>  
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">{% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>     
            </div>
            
        </section>
        <section class="accessoires">
            <div class="entete">
                <img src="{% static 'image/ComputerSupport_black.png'%}" alt="" >    
                <h4>Accessoires informatiques</h4>
            </div>  
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">{% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>     
            </div>
            
        </section>
        <section class="jeux">
            <div class="entete">
                <img src="{% static 'image/GameController_black.png'%}" alt="" >    
                <h4>Console et jeux</h4>
            </div>  
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">{% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>
                  <div class="swiper-slide">
                    {% for produit in produits_info %}
                    <div class="card" id="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p >{{produit.nom_produit}}</p> 
                            <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <a href="#" class="btn-b">Ajouter</a>
                        </div>
                    </div>
                {% endfor %}
                  </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                
            </div>     
            </div>
            
        </section>
        <script>
            let items = document.getElementById("items");
            let card = items.getElementsByClassName("card");
            function next(){
                items.append(card[0]);
            }
        </script>

        

    <script>
                var swiper = new Swiper(".mySwiper", {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerGroup: 3,
                  loop: true,
                  loopFillGroupWithBlank: true,
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                  },
                });
                var mybutton = document.getElementById("myBtn");
                window.onscroll = function() {scrollFunction()};        
                function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
                }
                function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
                }
    </script>
    </main>
{% endblock content%}