{% extends "_base.html" %}

{% block content%}

{% load crispy_forms_tags %}

    <section class="secInscrire">
        <h3>Se Connecter</h3>
        <form method="post" class="formSignup">
            {% csrf_token %}

            {{ form|crispy }}

            <input type="submit" value="se connecter" class="sign">
        </form>

        <div class="cas">
            Si vous avez pas de compte 
            <a href="{% url 'signup' %}">cliquez ici</a>
        </div>
        <a href="{% url 'logout' %}">Se deconnecter</a>
    </section>
{% endblock content%}
