{% extends "_base.html" %}

{% block content%}
    <section class="panier_body">
        <h2>Votre panier</h2>
        <hr>
        <div class="card_produit">
            {% for produit in produits_panier %}
                <div class="produit">
                    <div class="imageCommande">
                        <img src="{{produit.photo_produit.url}}" alt="">
                    </div>
                    <div class="detailCommande">
                        <h4>{{produit.nom_produit}}</h4>
                        <p>Quantité: {{produit.quantite}}</p> 
                        {% if produit.commander%}
                        <p class="commander">Produit commander</p>
                        {%endif%} 
                        <p>Prix: {{produit.pTotal}} FCFA</p> 
                        <div class="bouton">
                            <a href="{% url 'commande' produit.id %}">
                                Commander
                            </a>

                            <a href="{% url 'retire' produit.id %}" class="retire">
                                Retirer
                            </a>
                        </div>                      
                    </div>
                </div>
                <hr>
                {% empty %}
                            <p style="text-align:center">Votre panier est vide</p>
            {% endfor %}
        </div>
    </section>
{% endblock content%}