{% extends "_base.html" %}

{% block content%}
    <section class="panir_body">
        <div>
            <h3>Votre panier</h3>
            <div>
                {% for produit in produits_panier %}
                    <div>
                        <img src="{{produit.photo_produit.url}}" alt="">
                        <div>
                            <p>{{produit.nom_produit}}</p>
                            <p>Disponible</p>
                            <P>Quantite: {{produit.quantite}}</P>  
                            <p>Prix: {{produit.pTotal}}</p> 
                            <div>
                                <a href="">
                                    <button>Commander</button>
                                </a>

                                <a href="">
                                    <button>Retirer</button>
                                </a>
                            </div>                      
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content%}