{% extends "_base.html" %}

{% block content%}
    <section class="panier_body">
        <h2>Votre panier</h2>
        <hr>
        <div class="card_produit">
            {% for produit in produits_panier %}
                <div class="produit">
                    <img src="{{produit.photo_produit.url}}" alt="">
                    <div>
                        <h4>{{produit.nom_produit}}</h4>
                        <p>tendance</p>
                        <P>Quantité: {{produit.quantite}}</P>  
                        <p>Prix: {{produit.pTotal}} FCFA</p> 
                        <div class="bouton">
                            <a href="{% url 'commande' produit.id %}">
                                <button>Commander</button>
                            </a>

                            <a href="{% url 'retire' produit.id %}">
                                <button>Retirer</button>
                            </a>
                        </div>                      
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </section>
{% endblock content%}