{% extends "_base.html" %}

{% block content%}
    <section id="about">
        <div class="cont">
            <h4>Maintenance informatique</h4>
            <p>Pour assurer le bon fonctionnement de votre matériel informatique nous avons mis en place un service de maintenance à votre disposition.
               <span> Pour faire une demande de maintenance contactez nous  au 779554981 ou 754403758.</span> </p>
        </div>
        <div class="call">
           <a href="tel:779554981">Appelez maintenant</a>
        </div>
    </section>
   
{% endblock content%}