{% extends "_base.html" %}

{% block content%}
    <section>
        <div>
            {% for produit in produits%}
            <div class="card">
                <a href="{% url 'detail' produit.id%}">
                    <img src="{{produit.photo_produit.url}}" alt="">
                    <p>{{produit.nom_produit}}</p> 
                </a>
                <div class="bas">
                    <p>{{produit.prix_produit}}  FCFA</p>
                    <button>Ajouter</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock content%}