{% extends "_base.html" %}

{% block content%}
    <section>
        <div class="item1">
            {% for produit in produits %}
            <div class="card" id="card">
                <a href="{% url 'detail' produit.id%}">
                    <img src="{{produit.photo_produit.url}}" alt="">
                    <p >{{produit.nom_produit}}</p> 
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </a>
                <div class="bas">
                    <p>{{produit.prix_produit}}  FCFA</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock content%}