{% extends "_base.html" %}
{% load static %}


{% block content%}
        <div class="ensemble">
            <ul>
                <a href="">
                    <li class="cat">
                        <img src="{% static 'image/Workstation.png' %}" alt="">
                        Informatique
                    </li>
                </a>

                <a href="">
                    <li class="cat">
                        <img src="{% static 'image/MultimediaPublishing.png' %}" alt="">
                        Multimedia
                    </li>
                </a>

                <a href="">
                    <li class="cat">
                        <img src="{% static 'image/Office.png' %}" alt="">
                        Bureautique
                    </li>
                </a>

                <a href="">
                    <li class="cat">
                        <img src="{% static 'image/Mobile.png' %}" alt="">
                        Telephone
                    </li>
                </a>

                <a href="">
                    <li class="cat">
                        <img src="{% static 'image/ComputerSupport.png' %}" alt="">
                        Accessoir
                    </li>
                </a>

                <a href="">
                    <li class="cat">
                        <img src="{% static 'image/GameController.png' %}" alt="">
                        Console et jeux video
                    </li>
                </a>
            </ul>
        </div>

        <section>
            <!-- 
            <div>
                <h2>Tendance</h2>
                {% for produit in produits %}
                    {% if produit.tendance >= 20 %}
                       <p>{{produit.nom_produit}}</p> 
                    {% endif %}
                {% endfor %}
            </div>
            -->

            <div class="groupName">
                <img src="{% static 'image/sell.png' %}" alt="">
                Tendance
            </div>
            <div class="item1">
                {% for produit in produits_tendance %}
                    <div class="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p>{{produit.nom_produit}}</p> 
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <button>Ajouter</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

            <div class="groupName">
                <img src="{% static 'image/Workstation_black.png' %}" alt="">
                Informatique
            </div>
            <div class="item1">
                {% for produit in produits_info %}
                    <div class="card">
                        <a href="{% url 'detail' produit.id%}" >
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p>{{produit.nom_produit}}</p> 
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <button>Ajouter</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <div class="groupName">
                <img src="{% static 'image/MultimediaPublishing_black.png' %}" alt="">
                Multimedia
            </div>
            <div class="item1">
                {% for produit in produits_multi %}
                    <div class="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p>{{produit.nom_produit}}</p> 
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <button>Ajouter</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <div class="groupName">
                <img src="{% static 'image/Office_black.png' %}" alt="">
                Bureautique
            </div>
            <div class="item1">
                {% for produit in produits_bureau %}
                    <div class="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p>{{produit.nom_produit}} </p> 
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <button>Ajouter</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <div class="groupName">
                <img src="{% static 'image/Mobile_black.png' %}" alt="">
                Telephone
            </div>
            <div class="item1">
                {% for produit in produits_tele %}
                    <div class="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p>{{produit.nom_produit}} </p> 
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <button>Ajouter</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <div class="groupName">
                <img src="{% static 'image/ComputerSupport_black.png' %}" alt="">
                Accesoir informatique
            </div>
            <div class="item1">
                {% for produit in produits_accessoir %}
                    <div class="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p>{{produit.nom_produit}} </p> 
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <button>Ajouter</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <div class="groupName">
                <img src="{% static 'image/GameController_black.png' %}" alt="">
                Console et jeux video
            </div>
            <div class="item1">
                {% for produit in produits_console %}
                    <div class="card">
                        <a href="{% url 'detail' produit.id%}">
                            <img src="{{produit.photo_produit.url}}" alt="">
                            <p>{{produit.nom_produit}} </p> 
                        </a>
                        <div class="bas">
                            <p>{{produit.prix_produit}}  FCFA</p>
                            <button>Ajouter</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </section>
    </section>
{% endblock content%}