{% extends "_base.html" %}

{% block content%}
    <section class="secInscrire">
        <h3>
            S'inscrire
        </h3>
        <form method="post" class="formSignup">
            {% csrf_token %}

            {{form.non_field_errors}}
            <div>
                {{form.name.error}}
                <input type="text" name="name" placeholder="Entrez votre nom"/>
            </div>
            
            <div>
                {{form.firstName.error}}
                <input type="text" name="firstName" placeholder="Entrez votre prenom"/>
            </div>
            
            <div>
                {{form.email.error}}
                <input type="email" name="email" placeholder="Entrez votre adresse mail"/>
            </div>
            
            <div>
                {{form.password.error}}
                <input type="password" name="password" placeholder="Entrez votre mot de passe"/>
            </div>
            
            <div>
                {{form.password_2.error}}
                <input type="password" name="password_2" placeholder="Entrez encore votre mot de passe"/>
            </div>

            <div>
                {{form.adresse.error}}
                <input type="text" name="adresse" placeholder="Entrez votre adresse"/>
            </div>

            <div>
                {{form.phone.error}}
                <input type="text" name="phone" placeholder="Entrez votre telephone"/>
            </div>

            <input type="submit" value="S'inscrire" class="sign">
        </form>

        <div class="cas">
                Si vous avez déjà un compte 
                <a href="{% url 'login' %}">cliquez ici</a> 
        </div>
    </section>
{% endblock content%}
