{% extends '_base.html' %}


{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-3" style="text-align: center;">
  	 	<h2 class="font-weight-bold mt-3">Modifier votre mot de passe</h2>
		<hr>
		<p>Entrez votre adresse mail et suivez les instructions.</p>
        <form method="post" style="text-align: center; margin-bottom: 60px;">
            {% csrf_token %}
            <div id="div_id_email" class="control-group"> 
				<label for="id_email" class="control-label requiredField">Email<span class="asteriskField">*</span> </label> 
				<div class="controls"> 
					<input type="email" name="email" autocomplete="email" maxlength="254" class="emailinput" required="" id="id_email" style="width: 240px;"> 
				</div> 
			</div>                  
            <button class="btn btn-primary mt-3" type="submit">Envoyer</button>
        </form>
  	</div> 

{% endblock %}