.panier_body h2{
    margin: 5%;
}

.detailCommande h4{
    font-weight: bold;
}

.detailCommande p{
    font-size: 19px;
}

.panier_body{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 10%;
}

.imageCommande{
    margin-right: 2%;
}

.detailCommande{
    margin-left: 2%;
    margin-top: 5%;
}

.produit{
    display: flex;
    align-items: center;
    margin: 2%;
}

.produit img{
    height: 210px;
}

.bouton{
    display: flex;
    align-items: center;
}


.bouton a {
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 50px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    outline:none;
    color: white;
    background-color: #34495E;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.12);
}

.bouton a:hover{
    transition: all 1s ease;
    background-color: #425A71;
    transition: all 0.5s ease;
 }

 .bouton .retire{
    background-color: #CB4335;
 }

 .bouton .retire:hover{
    transition: all 1s ease;
    background-color: #E74C3C;
    color: white;
    transition: all 0.5s ease;
 }

.card_produit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    font-weight: 400;
}

.commander{
    color: #CB4335;;
}
@media only screen and (max-width: 1024px){
    .panier_body{
        margin-top: 130px;
    }
}
@media only screen and (max-width: 780px) {
    .produit{
        flex-direction: column;
        text-align: center;
    }

    .produit img{
        margin-right: 0px;
        width: 100%;
    }

    .imageCommande{
        margin-right: 0;
    }

    .detailCommande{
        margin-left: 0;
        padding-top: 35px;
    }

    .bouton{
        justify-content: center;
    }

    .bouton a{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 375px){
    .bouton{
        flex-direction: column;
    }
    .bouton a{
        margin: 10px;
    }
}