.panier_body h2{
    margin: 5%;
    padding-bottom: 5%;
    margin-bottom: -1%;
}

.panier_body{
    margin-left: 7%;
    margin-right: 7%;
    height: 100vh;
}

.produit{
    display: flex;
    align-items: center;
    margin: 2%;
}

.produit img{
    width: 18%;
    height: 210px;
    margin-right: 5%;
}

.bouton{
    display: flex;
    align-items: center;
}

.bouton a {
    margin-right: 50%;
}

.bouton button{
    width: 150%;
    padding: 5%;
    background-color: black;
    color: white;
}

.card_produit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    font-weight: 400;
}