.panier_body h2{
    margin: 5%;
}

.panier_body{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 10%;
}

.imageCommande{
    margin-right: 2%;
}

.detailCommande{
    margin-left: 2%;
    margin-top: 5%;
}

.produit{
    display: flex;
    align-items: center;
    margin: 2%;
}

.produit img{
    height: 210px;
}

.bouton{
    display: flex;
    align-items: center;
}

.bouton a {
    margin-right: 7%;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5%;
    padding-left: 19%;
    padding-right: 19%;
    border-radius: 20px;
}

.card_produit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    font-weight: 400;
}

.commander{
    color: #CB4335;;
}

@media only screen and (max-width: 780px) {
    .produit{
        flex-direction: column;
        text-align: center;
    }

    .produit img{
        margin-right: 0px;
        width: 100%;
    }

    .imageCommande{
        margin-right: 0;
    }

    .detailCommande{
        margin-left: 0;
    }

    .bouton{
        justify-content: center;
    }

    .bouton a{
        margin-right: 10px;
    }
}