
.containerCommande{
    margin-bottom: 10%;
}

.contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commande{
    font-size: larger;
    font-weight: 400;
    height: 100%;
    width: 100%;
    text-align: center;
}

.com{
    text-align: center;
    padding: 10px 0;
    font-weight: larger;
    font-size: larger;


}

.descrip_commandes{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.champ{
    margin-right:10% ;
}


.descCommande{
    background-color: #1C2833;
    color: white;
    padding-bottom: 1px;
    border-radius: 5px;
    padding-top: 6px;
    margin-left: 28%;
    margin-right: 28%;
    height: 100%;

}


.detailCommande{
    text-align: center;
    padding-bottom: 5px;
    margin-top: -17px;
    color: #1C2833;

}

button.bout{
    padding: 12px;
    border: none;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
    background-color: #34495E;
    margin-top: 20px;
    text-align: center;
}

button.bout:hover{
    transition: all 1s ease;
    background-color: #425A71;
    transition: all 0.5s ease;
}


@media screen and (max-width: 994px){
    .descCommande{
        margin-left: 20%;
        margin-right: 20%;
    }
} 


@media screen and (max-width: 783px){
    .descCommande{
        margin-left: 10%;
        margin-right: 10%;
    }

} 