
.container{
    width: 100vw;
    margin-top: 3%;
    margin-bottom: 5%;
}

.contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commande{
    width: 31%;
    margin: 1%;
    font-size: larger;
    font-weight: 400;
}

.com{
    margin-left: 2%;
}

.commande button{
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
}

.descrip_commande{
    display: flex;
    justify-content: space-around;
    margin-bottom: 6%;
}

.desc{
    background-color: #E5E7E9;
}

.champ{
    margin-right: 4%;
}

.detailCommande{
    text-align: center;
}

.bout{
    width: 70%;
}