.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.left{
    left:0;
    top:10%;
    width: 50%;
    padding-left: 10%;
    height: 100vh;
}
.right{
    width: 50%;
    height: 100vh;
}
.left p{
    font-size: 1.1rem;
    padding-top: 5%;
}
.left h4{
    padding-top: 4%;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}
iframe{
    display: flex;
    align-items: center;
    justify-content: center;
   

}
/* media queries  */

@media (max-width:1300px){
    .contact{
        padding:1rem 2rem;
        font-size: 1rem;      
    }
  }  
@media (max-width:991px){
    .contact{
       
        padding-top: 23%;
        font-size: 1rem;
        flex-direction: column;  
        text-align: center;
    }
  
}
@media (max-width:480x){
    .contact{
        padding-top: 40%;
        font-size: 20%;
        text-align: center;
    }

}