section{
    width: 100%;
    height: 100vh;
}
.contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.left{
    left:0;
    top:10%;
    width: 50%;
    padding-left: 10%;
    height: 100vh;
}
.right{
    width: 50%;
    height: 100vh;
}
.left p{
    font-size: 1.1rem;
    padding-top: 5%;
}
.left h4{
    padding-top: 4%;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}
iframe{
    padding-top: 5%;
}
@media (max-width:1075px){
    .contact{
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .left{
        width: 100%;
        text-align: center;
    }
    .right{
        width: 100%;
    }
}