.secDetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 23%;
    margin-right: 23%;
    margin-bottom: 3%;
    background-color: white;
    width: 60%;
    height: 70vh;
    border-radius: 5px;
}


img{
    width: 100%;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
    
}
/* début zoom */
#zoom {
    background-position: 100%;
    position: relative;    
    cursor: zoom-in;
  }
  #zoom img:hover {
    opacity: 0;
  }
  #zoom img {
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
    cursor: zoom-in;
  }
/* fin */
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.5rem;
    border: 1px solid rgba(194, 193, 193, 0.363);
    padding: 2px;
}
.img-item:hover{
    border: 1px solid black;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-imgs{
    height: 250px;
    width: 50%;
    padding: 10px;
    margin-bottom: 75px;
} 
.prod_detail{
    margin: 2%;
}
.prod_detail h2{
    margin: 20px 0 10px 0;
    font-weight: 300;
}
.image1{
    height: 300px;
    margin-right: 5%;
    padding: 7px;
    top:0;
    margin-left: 10px;
    position: relative;
}
.image1:hover{
    transition: all 0.5s ease;
}
.prod_detail button{
    font-size: 18px;
    padding: 15px 50px;
    margin-top: 40px;
    cursor: pointer;
    border: 0;
    outline:none;
    color: white;
    background-color: black;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.12);
}

.prod_detail button:hover {
    transition: all 1s ease;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  }

.classQuantite{
    width: 90%;
    margin-top: 2%;
    outline:none;
}

.quantite{
    font-size: 20px;
}

.price{
    font-size: 26px;
}

.dispo{
    margin-top: 10px;
    font-size: larger;
    color: red;
}

.secDetail input{
    font-size: larger;
}

.descrip{
    margin-left: 10%;
    margin-right: 35%;
    margin-bottom: 5%;
}

.descrip .title3{
    margin-right: 20;
}


.autres{
    margin-left: 4%;
    margin-right: 4%;
}

.item1{
    display: flex;
    justify-content: space-around;
    margin: 5%;
    flex-wrap: wrap;
}

.item1 .card{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 1300px){
    .secDetail{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 1150px){
    .secDetail{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 985px){
    .secDetail{
        flex-direction: column;
        text-align: center;
    }
    .image1{
        margin: 0;
        height: 250px;
    }

}

@media only screen and (max-width: 650px){
    .descrip{
        margin-right: 10%;
    }
}