.secDetail{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.image1{
    width: 80%;
    transition: 0.3s;
    margin: 2%;
    border: 3px solid #B3B6B7;
    border-radius: 3%;
}

.secDetail button{
    width: 100%;
    font-size: larger;
    padding: 5%;
}

.secDetail input{
    border-radius: 4%;
}

.quantite{
    font-size: 20px;
}

.price{
    font-size: 26px;
}

.dispo{
    font-size: larger;
    color: red;
}

.secDetail input{
    font-size: larger;
}

.descrip{
    margin-left: 10%;
}

.prod_detail{
    margin-bottom: 10%;
}

.spanDetail{
    text-decoration:underline 12% #B3B6B7;
}

.autres{
    margin-left: 4%;
    margin-right: 4%;
}
