.secDetailPrincipal{
    padding-top: 10px;
}
.secDetail{
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 45px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.ensemble{
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0%;
    align-items: center;
}
img{
    width: 100%;
}
.img-display{
    overflow: hidden;
    margin-top: -10px;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;    
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
    padding-top: 5px;
    flex-wrap: wrap;
}
.img-item{
    margin: 1.2rem;
    border: 1px solid rgba(194, 193, 193, 0.363);
}
.img-item img{
    width: 85px;  
    height: 85px;  
    padding: 3px;    
}
.img-item:hover{
    border: 1px solid black;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-imgs{
    width: 250px;
} 
.prod_detail{
    margin: 2px 10px;
}
.prod_detail h2{
    font-weight: 300;
}

.prod_detail button{
    font-size: 18px;
    padding: 15px 50px;
    margin-top: 30px;
    cursor: pointer;
    border: 0;
    outline:none;
    color: white;
    background-color: black;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.12);
}

.prod_detail button:hover{
    background-color: #28B463;
    color: white;
    transition: all 0.5s ease;
    color: black;

 }

.classQuantite{
    width: 50%;
    margin-top: 2%;
    outline:none;
}

.quantite{
    font-size: 20px;
}

.price{
    font-size: 24px;
}

.dispo{
    margin-top: 10px;
    font-size: larger;
    color: red;
}

.secDetail input{
    font-size: larger;
}

.descrip{
    margin-left: 10%;
    margin-right: 35%;
    margin-bottom: 5%;
}

.descrip .title3{
    margin-right: 20;
}


.autres{
    margin-left: 4%;
    margin-right: 4%;
}

.item1{
    display: flex;
    justify-content: space-around;
    margin: 5%;
    flex-wrap: wrap;
}

.item1 .card{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 1300px){
    .secDetail{
        margin-left: 20%;
        margin-right: 20%;
    }
    .secDetailPrincipal{
        padding-top: 25px;
    }
}

@media only screen and (max-width: 1150px){
    .secDetail{
        margin-left: 15%;
        margin-right: 15%;
        height: auto;
    }
    .secDetailPrincipal{
        padding-top: 25px;
    }
}

@media only screen and (max-width: 850px){
    .product-imgs{
        text-align: center;
    }

    .ensemble{
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .secDetailPrincipal{
        padding-top: 35px;
    }
    .image1{
        margin: 0;
        height: 250px;
    }
    .prod_detail{
        padding-top: 25px;
    }


}

@media only screen and (max-width: 650px){
    .descrip{
        margin-right: 10%;
    }
    .secDetailPrincipal{
        padding-top: 40px;
    }
    .secDetail{
       padding-right: 10px;
       margin-right: 5%;
       margin-left: 5%;
    }

}

@media only screen and (max-width: 375px){
    .product-imgs{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 320px){
    .product-imgs{
        margin-left: 1px;
    }
    p{
        font-size: 14px;
    }
}
