.secDetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 23%;
    margin-right: 23%;
    margin-bottom: 3%;
    background-color: white;
    width: 60%;
    height: 65vh;
    border-radius: 5px;
}

.image{
    margin: 2%;
}

<<<<<<<< HEAD:geektech/static/style/PageDescription.css
.image {overflow:hidden}

========
>>>>>>>> b2438d5384481c886e657150cbffbe6e663c6101:geektech/static/style/details.css
.prod_detail{
    margin: 2%;
}
.prod_detail h2{
    margin: 20px 0 10px 0;
    font-weight: 300;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.image1{
    height: 300px;
    margin-right: 5%;
<<<<<<<< HEAD:geektech/static/style/details.css
    padding: 7px;
    top:0;
    margin-left: 10px;
    position: relative;
========
    padding: 5px;
>>>>>>>> parent of 1ee157a (update):geektech/static/style/PageDescription.css
}

.image1:hover{
    transition: all 0.5s ease;
}
=======
=======
>>>>>>> parent of 1ee157a (update)
=======
>>>>>>> parent of 1ee157a (update)

.image1{
    height: 300px;
    margin-right: 5%;
    padding: 5px;
}

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> parent of 1ee157a (update)
=======
>>>>>>> parent of 1ee157a (update)
=======
>>>>>>> parent of 1ee157a (update)
.prod_detail button{
<<<<<<<< HEAD:geektech/static/style/PageDescription.css
    font-size: 18px;
    padding: 15px 50px;
    margin-top: 40px;
    cursor: pointer;
    border: 0;
    outline:none;
    color: white;
    background-color: black;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.12);
========
    font-size: larger;
    padding: 3%;
    background-color: black;
    color: white;
    width: auto;
    border: none;
>>>>>>>> b2438d5384481c886e657150cbffbe6e663c6101:geektech/static/style/details.css
}

.prod_detail button:hover {
    transition: all 1s ease;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  }

.classQuantite{
    width: 90%;
    margin-top: 2%;
    outline:none;
}

.quantite{
    font-size: 20px;
}

.price{
    font-size: 26px;
}

.dispo{
    margin-top: 10px;
    font-size: larger;
    color: red;
}

.secDetail input{
    font-size: larger;
}

.descrip{
    margin-left: 10%;
    margin-right: 35%;
    margin-bottom: 5%;
}

.descrip .title3{
    margin-right: 20;
}


.autres{
    margin-left: 4%;
    margin-right: 4%;
}

.item1{
    display: flex;
    justify-content: space-around;
    margin: 5%;
    flex-wrap: wrap;
}

.item1 .card{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 1300px){
    .secDetail{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 1150px){
    .secDetail{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 985px){
    .secDetail{
        flex-direction: column;
        text-align: center;
    }
    .image1{
        margin: 0;
        height: 250px;
    }

}

@media only screen and (max-width: 650px){
    .descrip{
        margin-right: 10%;
    }
}