.secDetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 23%;
    margin-right: 23%;
    margin-bottom: 3%;
}

.image{
    margin: 2%;
}

.prod_detail{
    margin: 2%;

}

.image1{
    height: 300px;
    margin: 2%;
    border: 1px solid #B3B6B7;
    border-radius: 3%;
    margin-right: 5%;
    padding: 5px;
}

.prod_detail button{
    font-size: larger;
    padding: 5%;
    background-color: black;
    color: white;
    width: 100%;
}

.classQuantite{
    width: 60%;
    margin-top: 2%;
}

.quantite{
    font-size: 23px;
}

.price{
    font-size: 26px;
}

.dispo{
    font-size: larger;
    color: red;
}

.secDetail input{
    font-size: larger;
}

.descrip{
    margin-left: 10%;
    margin-right: 35%;
    margin-bottom: 5%;
}

.descrip .title3{
    margin-right: 20;
}


.autres{
    margin-left: 4%;
    margin-right: 4%;
}

.item1{
    display: flex;
    justify-content: space-around;
    margin: 5%;
    flex-wrap: wrap;
}

.item1 .card{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (max-width: 1300px){
    .secDetail{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (max-width: 1150px){
    .secDetail{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 985px){
    .secDetail{
        flex-direction: column;
        text-align: center;
    }
    .image1{
        margin: 0;
        height: 250px;
    }

}

@media only screen and (max-width: 650px){
    .descrip{
        margin-right: 10%;
    }
}