/* FOOTER */

footer{
    background: hsl(0, 0%, 95%);
}

footer li{
    color: #222733;
    font-weight: 500;
}

.sect img{
    width: 45px;
    padding: .6rem 0px;
}

.social{
    display: flex;
    gap: 1rem;
}

.social > img{
    width: 40px;
}

.part1 img{
    width: 60%;
}

li{
    list-style-type: none;
    padding: 12px 0px;
    text-transform: uppercase;
}
.tite{
    color: black;
}

.sect{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.last{
    color:black;
    background: white;
}

/* END FOOTER */

