*{
    margin: 0px;
    padding: 0px;
}

.seCat, .researchEle, .contact, .container, .secDetailPrincipal, .secInscrire, .panier_body, .item1{
    margin-top: 30vh;
}

@media screen and (max-width: 1300px) {
    .seCat, .researchEle, .contact, .container, .secDetailPrincipal, .secInscrire, .panier_body, .item1{
        margin-top: 20vh;
    }  
}
