/* HEADER */
header{
    padding: .1rem;
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 5%;
}

.corp_haut{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.corp_haut form{
    display: flex;
    align-items: center;
    width: 100%;
    padding: .2rem;
    border-radius: 1rem;
    border: 1px solid black;
}


header input{
    width: 90%;
    height: 1em;
    border: none;
    background: transparent;
}

header input:focus-visible{
    border: none;
    outline-offset: none;
    outline: none;
}

.liste{
    display: flex;
    justify-content: space-around;
    gap: 3em;
    color: #222733;
    font-weight: 500;
}

header li{
    list-style-type: none;
    text-transform: uppercase;
}


.liste a {
    color: black;
}

.logo{
    width: 10%;
}

/* END HEADER */