/* HEADER */
header{
    padding: 2rem;
    background-color: hsl(0, 0%, 95%);
    padding: 15px 70px;
    height: 158px;   
    position: fixed;
    top: 0px;
    z-index: 100;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> parent of adff857 (responsive header)
=======

>>>>>>> parent of adff857 (responsive header)
.corp_haut{
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
}

.corp_haut form{
    display: flex;
    align-items: center;
    width: 1158px;
    height: 43px;
    padding: 5px .2rem;
    border-radius: 2rem;
    border: 1px solid #D9D9D9;
    margin-left:25px;
}
.linkerel{
    width: 5%;
    margin-left: 7%;
}


header input{
    width: 90%;
    height: 1em;
    border: none;
    background: transparent;
}

header input:focus-visible{
    border: none;
    outline-offset: none;
    outline: none;
}

.liste{
    display: flex;
    justify-content: center;
    gap: 2em;
    color: #222733;
    font-weight: 499;
    padding-left: 475px;
    margin-top:-15px;
}

header li{
    list-style-type: none;
    text-transform: uppercase;     
}
.liste a {
    color: black;
    margin-left: 10px;
    font-weight: 495;
    font-size: .92rem;
}
.liste a:hover {
    color: blue;
    transition: all .7s ease;
}
.logo{
    padding-left: 25px;
}
.search-img{
   font-size: 1.5px;
}


<<<<<<< HEAD
<<<<<<< HEAD

/* END HEADER */

/* média queries */

@media (max-width: 1077px) {
    #header{
        display: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
    }
    .liste{
        display: none;
    }
   .logo,.linkerel{
        display: none;
   }
   .search-img{
    display: block;
     margin: 2%;
   }
    .corp_haut form{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1200px;
        height: 40px;
        margin-left: 25%;    
    }
    .corp_haut{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: -13%;
    }
    
}

@media (max-width: 991px) {
    .corp_haut{
        width: 100%;
        margin-left: -1%;        
    }    
    .corp_haut form{
        margin-left: 1%;
    }
    .corp_haut form input{
       width: 100%;
    }
}
@media (max-width: 480px) {
    .corp_haut{
        width: 100%;
        margin-left: -.4rem;        
    }    
    .corp_haut form{
        margin-left: .4rem;
    }
    .corp_haut form input{
       width: 100%;
    }
}
=======
/* END HEADER */
>>>>>>> parent of adff857 (responsive header)
=======
/* END HEADER */
>>>>>>> parent of adff857 (responsive header)
