/* HOME */

.mainHome{
    margin-top: 22vh;
    margin-bottom: 10%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.fa-arrow-up-to-line{
    color:#ffff;
}

#myBtn:hover {
    background-color: #555;
    transition: all .7s ease;
}

.material-icons{
    align-items: center;
    justify-content: center;
}

#sec1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20vh;
}

nav{
    background-color: black;
    border-radius: 10px; 
    padding-top: 2.5%;
    padding-bottom: 0.5%;
    width: 41vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1rem;
    height: 63vh;
}
.carousel-item img{
    background-size: cover;
}

nav h3{
    font-size: 1.2rem;
    color: white;
}

#carouselExampleCaptions{
    width: 58vw;
}
.d-block{
    height: 455px;
    width: 100%;
    margin-top: 2%; 
    border-radius: 10px;   
}
#image{
   height: 100px;
   width: 100%;
}


.material-icons.red { color: #CB4335; }

.material-icons.md-30 { font-size: 30px; }

h5{
   margin-top: -200px;
   font-size: 30px;
}

ul a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: .92rem;
  }

nav img{
    margin-right: 5%;
    margin-left: 2%;
    width: 12%;
}
.entete{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 100px;
}
.it{
    margin-top: 45px;
}
.it h4{
    color:black;
    font-size: 1.2rem;
    padding-left:2%;
}
.it img{
    width: 4.2%;
}

.entete h4{
    color:black;
    font-size: 1.2rem;
    padding-left:2%;
}
.entete img{
    width: 4.2%;
}


.swiper-button-next{
    padding: 0 20px;
}

#card{
    width: 237px;
    padding: 5px 3px;
}
#card a img{ 
    width: 100%;
    height: 200px;
    padding: 0.5%;
}


.items{
    display: flex;
    margin-left: 40px;    
}

.star{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #CB4335;
}

#card a{ 
    text-decoration: none;
}

.textPrice{
    padding-top: 10px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: large;
} 

.bas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: larger;
    margin-top: 4%;
    margin-bottom: 5%;
}

.bas p{
    padding-left:10px;
    margin-right:10px;
}


/* style pour les swiper */

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

 .swiper-slide .card{
    margin: 0 10px;
 }

.items{
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}

 .swiper {
    width: 100%;
    height: 100%;
    padding: 0 75px;
}

.swiper-button-next,.swiper-pagination,.swiper-button-prev{
    color:black;
    padding: 0 65px;

}

  .swiper-wrapper{
    margin-top: 20px;
  }
 

  /* version mobile*/
@media only screen and (max-width: 1000px) {
    nav{
        width: 30vh;
    }

    #carouselExampleCaptions{
        width: 70vw;
    }

    .it img{
        width: 5%;
    }

    .entete img{
        width: 5%;
    }
}

@media only screen and (max-width: 930px) {
    nav{
        display: none;
    }
    
    #carouselExampleCaptions{
        width: 90%;
    }
}

@media only screen and (max-width: 870px) {
    .swiper-button-next{
        display: none;
    }

    .swiper-button-prev{
        display: none;
    }

    .it img{
        width: 9%;
    }

    .entete img{
        width: 9%;
    }
}

@media only screen and (max-width:750px){
    .d-block{
        height: 400px;
    }

    #carouselExampleCaptions{
        width: 95%;
    }
} 


@media only screen and (max-width:500px){
    .d-block{
        height: 320px;
    }
}

@media only screen and (max-width:400px){
    .d-block{
        height: 250px;
    }

    #card a img{ 
        width: 100%;
        height: 180px;
        padding: 0.5%;
    }

    #sec1{
        margin-bottom: 10vh;
    }
}
/* END HOME */
