.secInscrire{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 4%;
    height: 100vh;
}

.formSignup div{
    margin: 2%;

}

.formSignup input{
    width: 30%;
    padding-top: .5%;
    padding-bottom: .5%;
}

.sign{
    background-color: black;
    color: white;
    margin-bottom: 2%;
}

.cas a{
    text-decoration: none;
}