.groupCat a{
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 3%;
}

.groupCat{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cat{
    background-color: black;
    font-size: large;
    font-weight: 400;
    border-radius: 2%;
    width: 140%;
}

.cat img{
    padding-right: 5%;
    width: 17%;
}

.groupName{
    display: flex;
    align-items: center;
    font-size: large;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

