<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/admin_css/aside.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style/admin_css/commande.css' %}">

    <title>Document</title>
</head>
<body>

    {% include 'components/nav_admin.html' %}

    {% block content%}
        <section>
            <div>
                <div class="haut">
                    <img src="{% static 'image/Packing.png' %}" alt="">
                    <p>Commandes</p>
                </div>
                <div class="commandeProduct">
                    {% for commande in command_list %}
                    <a href="{% url 'detail_commande' commande.id%}">
                        <p>{{commande.nom_produit}}</p>
                    </a>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endblock content%}
</body>
</html>
