<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/admin_css/aside.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style/admin_css/dashboard.css' %}">

    <title>Document</title>
</head>
<body>

    {% include 'components/nav_admin.html' %}

    {% block content%}
        <section class="secAdmin">  
            <div class="cardSec">
                <div class="card1">
                    <p>Nombre de  produits</p>
                    <h2>{{count_prod}}</h2>
                </div>

                <div class="card1">
                    <p>Nombre de commandes</p>
                    <h2>{{commande_count}}</h2> 
                </div>
            </div>
        </section>
    {% endblock content%}
    </body>
</html>