<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/admin_css/aside.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'style/admin_css/detailCommande.css' %}">

    <title>Document</title>
</head>
<body>

    {% include 'components/nav_admin.html' %}
    {% block content%}
        <section>
            <div class="haut">
                <img src="{% static 'image/Packing.png' %}" alt="">
                <p>Commande</p>
            </div>
        
            <div class="detail">
                <img src="{{commande.photo_produit.url}}" alt="" class="commandeImage">
                
                <div >
                    <p>Le produit a été commandé</p>
                    <p>prix du produit: <span>{{commande.total}} FCFA</span></p>
                    <p>Nom du produit: <span>{{commande.nom_produit}}</span></p>
                    <p>Commander par: <span>{{client.firstName}} {{client.name}}</span></p>
                    <p>Email: <span>{{client.email}}</span></p>
                    <p>Adresse du client: <span>{{client.city}}, {{client.quartier}}</span></p>
                    <a href="{% url 'deleteCommande' commande.id %}" class="supp">
                        <button>Traiter</button>
                    </a>
                </div>
            </div>
        </section>
    {% endblock content%}
</body>
</html>