<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/admin_css/aside.css' %}">

    <title>Document</title>
</head>
<body>

    {% include 'components/nav_admin.html' %}
    {% block content%}
        <div>
            <div>
                <img src="{% static 'image/Packing.png' %}" alt="">
                <p>Commande</p>
            </div>
        
            <div>
                <img src="{{image_produit.photo_produit}}" alt="">
                
                <div>
                    Le produit a ete commander
                    prix du produit: {{commande.total}}
                    Nom du produit: {{commande.nom_produit}}
                    Commander par: {{client.firstName}} {{client.name}}
                    Email: {{client.email}}
                    Adresse du client: {{client.adresse}}
                </div>
            </div>
        </div>
    {% endblock content%}
</body>
</html>