body{
    margin-left: 30%;
    background-color: #F5F3F3;
    font-family: Inter, sans-serif;
}

form{
    margin: 5% 10%;
    text-align: center;
}
form div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;    
}

form label{
    margin-bottom: 0.5%;
    font-size: 1rem;
    margin-right: 10%;
}

form input{
    width: 35%;
    padding-top: .5%;
    padding-bottom: .5%;
    border: 1px solid #D3C9C9;
    font-size: 15px;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
}

.files input{
    border: none;
    font-size: 15px;

}

textarea{
    border: 1px solid #D3C9C9;
    font-size: 15px;
}

select{
    padding: 1.3%;
    border: 1px solid #D3C9C9;
    font-size: 15px;
    margin-left: 1.3%;
    width: 46.5%;
    height: 8vh;
}

.save{
    text-align: center;
    padding-left: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    font-size: 17px;
    color: white;
    background-color: black;
    margin-left: 15%;
}

button{
    text-align: center;
    padding: 1.5%;
    border-radius: 20px;
    font-size: 17px;
    color: white;
    background-color: black;
    width: 20%;
}

p{    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}
.i1{
   margin-left: 8.5%;
   width: 46%;
   height: 5vh;
}
.i2{
    margin-left: 3%;
    width: 46%;
    height: 5vh;
}
.i3{
    width: 46%;
    height: 10vh;
}
.i4{
    width: 46%;
    height: 5vh;
}
.i5{
    margin-left: 2.5%;
    width: 46%;
    height: 5vh;
}
.i6{
    margin-left: 7%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}
.supp{
    width: 110%;
    height: 8vh;
    text-decoration: none;
    padding-right: 2%;

}