aside{
    position: fixed;
    top:0; left:0; bottom:0;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:15rem;
    text-align: center;
    font-family: Inter, sans-serif;
}
aside .logo{
    margin-top: -90px;
}
aside .navbar a:hover{
    color: blue;
}
aside .navbar a{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.1rem;
    color:black;
    margin-bottom:2rem ;
    text-decoration: none;
    font-weight: none;
}
aside .navbar{
    padding-top: 65px;
    flex-flow: column;
    text-align: left;
}
.navbar .second{
  padding-top: 110px;
}
#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background: black;
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
    margin-right: 1rem;
}

#accueil{
    display: none;
}

@media screen and (max-width: 980px) {
    aside{
        width: 21%
    }
}

@media (max-width:650px){

    html{
        font-size: 60%;
    }

    #menu-bars{
        display: initial;
        font-size: 1.4rem;
    }

    aside{
        width:100%;
        left:-120%;
        bottom: 0%;
        padding-top: 12rem;
        padding: auto;
        padding-left: 0%;
        padding-bottom: 0%;
    }
    
    .logo{
        display: none;
    }

    aside .navbar a{
        margin-bottom: 10%;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20%;
    }

    aside .navbar{
        padding-top: 2%;
        text-align: center;
    }

    .navbar .second{
        padding-top: 0px;
      }
    
    aside.active{
        left:0%;
    }

    .navbar img{
        display: none;
    }

    #accueil{
        display: block;
    }

}
@media (max-width:450px){

    html{
        font-size: 70%;
    }
}