.logo{
    text-align: center;
    margin-bottom: 15%;
}

.element1, .element2{
    display: flex;
    align-items: center;
    margin-left: 22%;
    font-weight: none;
}

.element2{
    position: absolute;
    bottom: 10%; 
}

.element1{
    margin-bottom: 6%;
}

.element1 img{
    width: 10%;
    margin-right: 3%;
}

.element2 img{
    width: 17%;
    margin-right: 3%;
}

.nav_admin a{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 1.5%;
    display: block;
    font-weight: none;
    font-size: 1rem;
}

.nav_admin{
    text-align: center;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: .5rem;
}

