header{
    position: fixed;
    top:0; left:0; bottom:0;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding:8rem 2rem;
    width:15rem;
    text-align: center;
    font-family: Inter, sans-serif;
}
header .logo{
    margin-top: -90px;
}
header .navbar a:hover{
    color: blue;
}
header .navbar a{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.1rem;
    color:black;
    margin-bottom:2rem ;
    text-decoration: none;
    font-weight: none;
}
header .navbar{
    padding-top: 65px;
    flex-flow: column;
    text-align: left;
}
.navbar .second{
  padding-top: 110px;
}
#menu-bars{
    position: fixed;
    top:1rem; right: 1rem;
    z-index: 10000;
    background: black;
    color:#fff;
    border-radius: .5rem;
    padding:1rem 1.5rem;
    font-size: 3rem;
    cursor:pointer;
    display: none;
    margin-right: 1rem;
}
@media (max-width:1275px){

    html{
        font-size: 60%;
    }
    
    body{
        padding: 0;
    }

    #menu-bars{
        display: initial;
        font-size: 1.4rem;
    }

    header{
        left:-120%;
        padding-top: 12rem;
    }
    
    header.active{
        left:0%;
    }

}
@media (max-width:450px){

    html{
        font-size: 80%;
    }

    header{
        width:100%;
        font-size: 100%;
        padding-top: 9rem;
    }
}