body{
    background-color: #F5F3F3;
    font-family: Inter, sans-serif;
    margin-left: 30%;
}

.haut{
    display: flex;
    align-items: center;
    margin-left: 1%;
    font-size: 20px;
    margin-top: 5%;
}

.haut img{
    width: 30px;
    margin-right: 2%;
}

.commandeProduct{
    margin: 7%;
    background-color: #ffff;
    padding: 3%;
    border-radius: 20px;
}

.commandeProduct a{
    text-decoration: none;
    color: black;
    font-size: 23px;
}

@media only screen and (max-width:650px){
    body{
        margin-left: 0px;
    }

    .haut{
        margin-top: 15%;
    }

    .haut img{
        width: 3rem;
    }
 
    .commandeProduct{
     font-size: 1.5rem;
    }

    
 }