body{
    background-color: #F5F3F3;
    font-family: Inter, sans-serif;
    padding-left: 30%;
    
}
.cardSec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.card1{
    padding-left: 2%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #ffff;
    margin: 5%;
    border-radius: 15px ;
    width: 25%;
}
h2{
    color: #80BC71;
    font-size: 2rem;
    padding-left: 2%;

}
.card1 p{
    font-size: 1rem;
}

@media (max-width:1275px){
   
   
}
@media (max-width:450px){


}