body{
    background-color: #F5F3F3;
    font-family: Inter, sans-serif;
    margin-left: 30%;
}

.haut{
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1%;
}

.haut img{
    width: 3.5%;
    margin-right: 2%;
}

.detail{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    background-color: #ffff;
    padding: 5%;
    width: 80%;
    border-radius: 20px;
}

.commandeImage{
    width: 40%;
    height: 300px;
}

p{
    font-size: 1rem;
}

span{
    color: #CB4335;
}
.commandeProduct{
    margin-left: 1%;
    margin-top: 1%;
}

button{
    padding: 3%;
    border-radius: 20px;
    font-size: 17px;
    color: white;
    background-color: black;
    width: 60%;
}

@media only screen and (max-width:650px){

    body{
        margin-left: 0px;
    }

    .detail{
        flex-direction: column;
        width: auto;
        margin-left: 3%;
        margin-right: 3%;
    }

    .detail p{
        font-size: 1.7rem;
    }

    .haut{
        margin-top: 10%;
        margin-bottom: 3%;
    }

    .textCommande{
        text-align: center;
    }

    .haut p{
        font-size:1.7rem ;
    }

    .haut img{
        width: 4rem;
    }

    .commandeImage {
        width: 52%;
        height: 240px;
        margin-bottom: 5%;
    }
}