{% block content%}
{% load static %}
<footer>
    <div class="sect">
        <section class="part1">
            <img src="{% static 'image/logo.png' %}" alt="">
            <ul>
                <li>Touba sandaga, Dakar,Senegal</li>
                <li>Tel: 779554981 / 754403758</li>
                <li>Email: geektech@support.com</li>
            </ul>
        </section>

        <section class="part2">
            <h4 class="tite">NOS LIENS </h4>
            <ul>
                <a href="{% url 'home' %}">
                    <li>Acceuil</li>
                </a>

                <a href="{% url 'contact' %}">
                    <li>Contact</li>
                </a>

                <a href="{% url 'propos' %}">
                    <li>À propos</li>
                </a>
            </ul>
        </section>

        <section class="part3">
            <h4 class="tite">SUIVEZ-NOUS</h4>
            <div class="social">
                <a href="">
                    <img src="{% static 'image/facebook.png' %}" alt="">
                </a>

                <a href="">
                    <img src="{% static 'image/instagram.png'%}" alt="">
                </a>

                <a href="">
                    <img src="{% static 'image/linkedin.png'%}" alt="">
                </a>
            </div>
            
        </section>
    </div>
    <div class="last">
        <p>Designed and coded by Teratra</p>
    </div>
    
</footer>
{% endblock content%}