{% load static %}
{% block content%}
     <header id="header" class="header">
        <div class="corp_haut" id="corp_haut">
            <a href="{% url 'home'%}">
                <img src="{% static 'image/logo.png' %}" alt="" 
                class="logo"
                style="width: 70%;"/>
            </a>

            <form action="{% url 'search' %}" class="search">
                <img src="{% static 'image/search.png' %}" alt="" class="search-img" style="width: 5%;">
                <input type="search" placeholder="Rechercher un produit..." aria-label="Search" name="q">
            </form>
            
            <a href="{% url 'panier' %}" class="linkerel">
                <img src="{% static 'image/achats.png' %}" alt="" style="width: 75%;">
            </a>
        </div>
                

        <div>
            <ul class="liste">
                <a href="{% url 'home' %}">
                    <li>Acceuil</li>
                </a>

                <a href="{% url 'propos' %}">
                    <li>Maintenance</li>
                </a>

                <a href="{% url 'contact' %}">
                    <li>Contact</li>
                </a>

                <a href="{% url 'login' %}" style="margin-left: 3rem;">
                    <li>Se connecter</li> 
                </a>
            </ul>
        </div>
    </header>
{% endblock content%}


