{% load static %}
{% block content%}
    <header>
      <a href="/">
        <img src="{% static 'image/logo3.png' %}" alt="" class="imgLogo">
      </a>
        <div class="liste">
            <ul>
                <a href="{% url 'home' %}" class="active">
                    <li>Acceuil</li>
                </a>

                <a href="{% url 'propos' %}">
                    <li>Maintenance</li>
                </a>

                <a href="{% url 'contact' %}">
                    <li>Contact</li>
                </a>

                <a href="{% url 'login' %}" >
                    <li>Se connecter</li> 
                </a>
            </ul>
        </div>
        
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="{% url 'panier' %}">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
        <!-- search form  -->
        <form action="{% url 'search' %}" id="search-form">
            <input type="search" placeholder="Rechercher un produit.."aria-label="Search" name="q" id="search-box">
            <label for="search-box" class="fas fa-search"></label>
            <i class="fas fa-times" id="close"></i>
        </form>



    </header>
 <!-- header fin -->
 <!-- header js début -->
 <script>
    let menu = document.querySelector('#menu-bars');
    let liste = document.querySelector('.liste');

menu.onclick = () =>{
  menu.classList.toggle('fa-times');
  liste.classList.toggle('active');
}

let section = document.querySelectorAll('section');
let navLinks = document.querySelectorAll('header .liste a');

window.onscroll = () =>{

  menu.classList.remove('fa-times');
  liste.classList.remove('active');

  section.forEach(sec =>{

    let top = window.scrollY;
    let height = sec.offsetHeight;
    let offset = sec.offsetTop - 150;
    let id = sec.getAttribute('id');

    if(top >= offset && top < offset + height){
      navLinks.forEach(links =>{
        links.classList.remove('active');
        document.querySelector('header .liste a[href*='+id+']').classList.add('active');
      });
    };

  });

}

document.querySelector('#search-icon').onclick = () =>{
  document.querySelector('#search-form').classList.toggle('active');
}

document.querySelector('#close').onclick = () =>{
  document.querySelector('#search-form').classList.remove('active');
}

 </script>























{% endblock content%}


