{% load static %}
{% block content %}
<div id="menu-bars" class="fas fa-bars"></div>
<aside>

    <a href="/" class="logo">
        <img src="{% static 'image/logo.png' %}" alt="" style="width: 99px;">
    </a>

    <nav class="navbar">
        <a href="{% url 'home'%}"  id="accueil"> Accueil</a>
        <a href="{% url 'dashboard'%}"> <img src="{% static 'image/Home.png' %}" alt="" style="width: 30px;padding-right: 10px;text-align: center;">Dashboard</a>
        <a href="{% url 'list_prod'%}"><img src="{% static 'image/Product.png' %}" alt="" style="width: 30px;padding-right: 10px;text-align: center;">Produits</a>
        <a href="{% url 'commandes_list'%}"> <img src="{% static 'image/Packing.png' %}" alt="" style="width: 30px;padding-right: 10px;text-align: center;">Commandes</a>
        <a href="{% url 'ajout_produit'%}"><img src="{% static 'image/Plus.png' %}" alt="" style="width: 30px;padding-right: 10px;text-align: center;">Ajouter un produit</a>
        <a href="{% url 'logout'%}" class="second"><img src="{% static 'image/Logout.png' %}" alt="" style="width: 30px;padding-right: 10px;text-align: center;">Se déconnecter</a>       
    </nav>

</aside>
<script>
    let menu = document.querySelector('#menu-bars');
    let aside = document.querySelector('aside');

    menu.onclick = () =>{
        menu.classList.toggle('fa-times');
        aside.classList.toggle('active');
    }

    window.onscroll = () =>{
        menu.classList.remove('fa-times');
        aside.classList.remove('active');
    }
</script>
{% endblock content %}